body {
  background-color: rgb(0, 0, 0);
  color: white;
}

/* header section */

.mainLogo {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.beksi {
  width: 200px;
}

.nav-bar img {
  width: 60px;
}

.headerIcons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.skull-img img {
  width: 30px;
}

.heart-img img {
  width: 45px;
}

a {
  color: white;
}

.nav-bar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 20px;
  transition: transform 0.3s ease;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  height: 1px;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: all 0.7s;
}

.nav-link:hover::after {
  width: 100%;
}

#categoriesLink::after {
  width: 0;
}

#categoriesLink:hover::after {
  width: 0;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.responsiveIcons {
  display: flex;
  gap: 30px;
  align-items: center;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: black;
  list-style-type: none;
  padding: 5px 0px;
}

.dropdown-menu li {
  margin: 10px 0;
}

.dropdown-menu li a:hover {
  color: rgb(171, 64, 64);
}

.nav-item:hover .dropdown-menu {
  display: block;
}

/* header responsive */

@media (max-width: 768px) {
  .headerIcons,
  #categoriesDropdown {
    display: none;
  }

  #categoriesLink::after {
    width: 0%;
  }

  #categoriesLink:hover::after {
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    background-color: #4f4a49;
    left: -100%;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    margin-top: 80px;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0px;
  }

  .nav-menu.active {
    position: fixed;
    left: 0;
  }
}

/* registration */

.headerIcons {
  position: relative;
}

.tooltip {
  position: absolute;
  top: -25px;
  left: 20%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 10;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(5px);
}

.overlay.active {
  display: flex;
}

.registrationFormContainer {
  background: white;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
  position: relative;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.formHeader h2 {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.registrationFormContainer input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
}

.registrationFormContainer input:focus {
  outline: none;
  border-bottom: 2px solid #a4250b;
}

.closeButton {
  background: black;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
  border: none;
}

.signUp {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.registrationFormContainer button:hover {
  opacity: 0.8;
  background: rgb(82, 82, 82);
}

/* lighting animation & search */

.video-container {
  margin-top: 90px;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.search-form {
  min-width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px;
  opacity: 0.6;
  display: flex;
}

.search-form input {
  padding: 5px 40px 5px 10px;
  border: none;
  outline: none;
  flex-grow: 1;
  max-width: 100%;
}

.search-icon {
  position: absolute;
  right: 15px;
  padding: 3px 0px;
  background: none;
  border: none;
  cursor: pointer;
}

.search-icon img {
  width: 15px;
  height: auto;
}

/* categories section */

.categoriesSection {
  margin-top: 100px;
  max-width: 1800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.categorieImages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.categoriesSection img {
  width: 100%;
  height: 100%;
  transition: filter 0.7s;
}

.imageContainer:hover img {
  filter: blur(5px);
}

.categoriesTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
}

.imageContainer:hover .categoriesTitle {
  opacity: 1;
}

/* footer section */

.footer {
  padding: 40px;
  display: flex;
  gap: 64px;
  justify-content: space-between;
}

.footerLogo :nth-child(1) {
  width: 120px;
}

.mediaText {
  width: 450px;
}

.mediaP {
  font-size: 23px;
  line-height: 36.8px;
  margin: 32px 0px 64px 0px;
  text-align: justify;
}

.mediaP::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.socMedia {
  display: flex;
  align-items: center;
  gap: 25px;
}

.fullNav {
  display: flex;
  width: 560px;
  gap: 64px;
}

.footerNavigation ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footerLists {
  font-family: "Inter400";
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
}

.footerLists:hover {
  transform: scale(0.9);
  transition: transform 0.2s;
}

.footerNavigation ul li a h4 {
  font-family: "CircularStd-700";
  font-size: 23px;
  line-height: 27.6px;
  position: relative;
  display: inline;
}

.footerNavigation ul li a h4::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.9px;
  background: white;
  position: absolute;
  left: 1px;
  bottom: -6px;
}

/* footer  responsive */

@media (max-width: 1024px) {
  .footer {
    flex-direction: column;
  }

  .mediaText {
    width: 100%;
  }

  .mediaP {
    margin: 32px 0px 32px 0px;
    text-align: left;
  }

  .fullNav {
    width: 90%;
    justify-content: space-between;
  }
}

@media (max-width: 540px) {
  .footerNavigation ul li:not(:first-child),
  .footerNavigation ul li a:not(:first-child) {
    display: none;
  }

  .footerNavigation ul li:first-child a {
    display: block;
  }

  .footerNavigation ul li:first-child a h4 {
    display: block;
  }

  .fullNav {
    flex-direction: column;
  }
}

@media (max-width: 430px) {
  .mediaP {
    font-size: 16px;
    line-height: 25.6px;
  }

  .footerNavigation ul li {
    gap: 64px;
  }

  .footer {
    max-width: 897px;
  }
}

/* last footer section  */

.lastFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-top: 1px solid white;
}

.lastFooter img {
  width: 15px;
}

.footer-country {
  display: flex;
  gap: 7px;
}

.footer2024 {
  display: flex;
  gap: 7px;
}

@media (max-width: 425px) {
  .lastFooter {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
}

/* rings page */

.portfolio {
  width: 100%;
  margin: 0 auto;
  padding: 30px 7%;
}

.portfolio .section-head {
  max-width: 700px;
  margin: 0px auto 25px;
  text-align: center;
}

.section-head h1 {
  position: relative;
  font-size: 32px;
  margin: 50px 0px 30px;
}

.button-group {
  text-align: center;
  margin-bottom: 40px;
}

.button-group .button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: white;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-group button.active {
  background-color: rgb(98, 97, 95);
}

.button-group .button:hover {
  background-color: rgb(98, 97, 95);
}

div.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

div.gallery .item {
  position: relative;
  margin: 4px;
  width: calc(33.33% -8px);
  overflow: hidden;
  cursor: pointer;
}

.item img {
  width: 300px;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.3s;
}

div.gallery .item:hover img {
  transform: scale(1.15);
  opacity: 0.6;
}

.item .overLay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.item:hover .overLay {
  opacity: 1;
}

.item .overLay a {
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid white;
  font-size: 14px;
  transition: 0.3s;
}

.item .overLay a:hover {
  background-color: white;
  color: black;
}

/* ring responsive */

@media (max-width: 1024px) {
  div.gallery .item {
    width: calc(50% -8px);
  }
}

@media (max-width: 600px) {
  div.gallery .item {
    width: 100%;
    margin: 4px 0px;
  }
}

.show-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgb(98, 97, 95);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.show-more.disabled {
  background-color: rgb(200, 200, 200); 
  color: rgba(255, 255, 255, 0.5); 
  cursor: not-allowed; 
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.modal-content {
  position: relative;
  background-color: #000000;
  margin: 6.5% auto;
  padding: 40px;
  border: 1px solid #888;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.details {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#heartButton {
  padding-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#heartButton span {
  padding-bottom: 13px;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}



/* blog page */

.photo-container {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  gap: 15px;
  margin: 100px 0px;
}
