/* header section */

.headerSection {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  margin-bottom: 15px;
}

.headerIcons {
  display: flex;
  gap: 30px;
}

.headerIcons img {
  width: 20px;
  height: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo h2 a {
  color: black;
}

ul {
  display: flex;
  gap: 70px;
}

nav,
ul li,
ul li a {
  position: relative;
  color: #000;
}

ul li a::after {
  content: "";
  height: 1px;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #070707dc;
  transition: all 1s;
}

ul li a:hover::after {
  width: 100%;
}

.burgerMenu {
  width: 30px;
  height: 30px;
}

/* search form */

.searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form {
  display: flex;
  width: 500px;
  height: 40px;
}

.searchButton {
  width: 100px;
  color: rgb(246, 244, 244);
  background-color: rgb(49, 80, 201);
}

.cartImage {
  width: 40px;
  height: 40px;
}

/* registration */

.registrationSection {
  margin-left: 10px;
}

.registration {
  display: flex;
  flex-direction: column;
}

.formElements {
  max-width: 400px;
  width: 100%;
}
.inputElement {
  width: 100%;
  height: 50px;
  font-size: 15px;
  color: black;
  border-radius: 20px;
}

/* product section */

.productSection {
  margin-top: 30px;
  max-width: 1800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productSection p {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 30px;
}

.option {
  display: flex;
  justify-content: center;
}

.productImages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.productSection img {
  width: 370px;
  height: 340px;
  opacity: 80%;
}

.productSection img:hover {
  opacity: 1;
  transition: all 0.7s;
}


.showMore {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.showMore button {
  width: 200px;
  height: 40px;
}

/* image section */

.imageSection {
  width: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

.imageTxt {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.imageTxt span {
  font-size: 50px;
}

.imageTxt p {
  font-size: 16px;
}

.imageTxt button {
  width: 100px;
  height: 30px;
}

/* send-me section */

.sendMe {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;

  background-color: rgb(209, 204, 213);
}

.sendMeAll {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.enterSubsc {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  gap: 15px;
}

.enter {
  width: 350px;
  height: 40px;
  border-radius: 20px;
}

.sub {
  width: 90px;
  height: 40px;
  border-radius: 20px;
}

/* footer section */

footer div a img {
  width: 45px;
  height: 40px;
  margin: 30px 0px 30px 0px;
}




footer {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.mediaDiv {
  display: flex;
  justify-content: center;
}

.lastFooter img {
  width: 15px;
}

.lastFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.lastFooter p {
  margin-left: 20px;
}