/* header section */

.headerSection {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  margin-bottom: 15px;
}

.headerIcons {
  display: flex;
  gap: 40px;
}

.headerIcons img {
  width: 20px;
  height: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo h2 a {
  color: black;
}

ul {
  display: flex;
  gap: 70px;
}

nav,
ul li,
ul li a {
  position: relative;
  color: #000;
}

ul li a::after {
  content: "";
  height: 1px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #070707dc;
  transition: all 1s;
}

ul li a:hover::after {
  width: 100%;
}


/* search form */

.searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.form {
  display: flex;
  width: 500px;
  height: 40px;
}

.searchButton {
  width: 100px;
  color: rgb(246, 244, 244);
  background-color: rgb(49, 80, 201);
}

.cartImage {
  width: 40px;
  height: 40px;
}





/* registration */

/* .registrationSection {
  margin-left: 10px;
}

.registration {
  display: flex;
  flex-direction: column;
}

.formElements {
  max-width: 400px;
  width: 100%;
}
.inputElement {
  width: 100%;
  height: 50px;
  font-size: 15px;
  color: black;
  border-radius: 20px;
} */


/* product section */

.productSection {
  margin-top: 30px;
  max-width: 1800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productSection p {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 30px;
}

.option {
   display: flex; 
   justify-content: center; 
}

.productImages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.productSection img {
  width: 370px;
  height: 340px;
}

.showMore {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  }
  
  .showMore button {
    width: 200px;
    height: 40px;
  }
  

/* image section */

.imageSection {
  width: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.imageTxt {
  display: flex;
  flex-direction: column;
  text-align: center;
gap: 30px;

}

.imageTxt span {
  font-size: 50px;
}

.imageTxt p {
  font-size: 16px;
}

.imageTxt button {
  width: 100px;
  height: 30px;
}





/* footer section */

footer div a img {
  width: 45px;
  height: 40px;

  margin: 50px 0px 0px 10px;
}

footer {
  padding-top: 60px;
  display: flex;
}

footer div p {
  display: flex;
  justify-content: center;
}
